<p id="notice">
    <%= notice %>
</p>
<p class="d-flex justify-content-center">
    <strong>Content:</strong>
    <%= @micropost.content %>
</p>
<p class="d-flex justify-content-center">
    <strong>User:</strong>
    <%= @micropost.user_id %>
</p>
<p>
    <% if @micropost.image.attached? %>
    <image src="<%= url_for(@micropost.image) %>" width="200" />
    <% end %>
</p>
<p class="d-flex justify-content-center">
    <%= link_to 'Edit', edit_micropost_path(@micropost) %> |
</p>
<p class="d-flex justify-content-center">
    <%= link_to 'Back', microposts_path %>
</p>